#This is an example of the credential file. Fill in your own values and rename the file to credentials.cfg

[sql]
server: abc.database.windows.net
port: 1433
user: fluksotableau@abc
password: wordswordswords
database: test_db

[metadata]
json: googleOAuth2file.json
file: spreadsheet_name #legacy
file2: spreadsheet_name

[tmpo]
folder: /User/Name/tmpo-py

[data]
folder: /User/Name/fluksotableau/data

[csv_filename]
1min: all_data_1min
15min: all_data_15min

[wunderground]
apikey: keykeykey